@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
:root {
    --background: #2ECFCA;
    --font:'Julius Sans One', sans-serif;
}

body {
    background-color: var(--background);
    font-family: var(--font);
    background-image: url(sun.svg);
    background-repeat: no-repeat;
    background-size: 200px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.actionButton {
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #FF4E62;
    color: #F9F3DE;
    border-radius: 5px;
}
